PORT=3000
MQTT_URL=mqtt://broker-host:1883
TRUSTED_PROXY_IPS=
MQTT_USERNAME=
MQTT_PASSWORD=
VALID_LOCALS=Breston
LEGACY_TOPIC_LOCALS=
ALERT_TYPES=Predeterminado,Pedir,Tiquet,Pedir_Cuenta,Cobrar_en_VISA
CALL_WAITER_ALERT_TYPE=Pedir
REQUEST_BILL_ALERT_TYPE=Tiquet
LOCAL_CODE_SECRET=
LOCAL_CODE_PERIOD_SECONDS=30
