PORT=3000
MQTT_URL=mqtt://broker-host:1883
MQTT_USERNAME=
MQTT_PASSWORD=
VALID_LOCALS=Breston
ALERT_TYPES=Predeterminado,Pedir_Cuenta,Cobrar_en_VISA
LOCAL_CODE_SECRET=
LOCAL_CODE_PERIOD_SECONDS=30

